@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d7c481;
}

.container {
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
    flex-wrap: wrap;
}

.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f3ec;
    padding: 1rem;
}

.form-image img {
    width: 100%;
    max-width: 31rem;
    height: auto;
}

.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 3rem;
}

.form-header {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #9f451a;
    margin: 0.5rem auto 0;
    border-radius: 10px;
}

.form-header p {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #555;
    text-align: center;
}

.input-group {
    width: 100%;
    padding: 1rem 0;
}

.input-box {
    width: 100%;
    margin-bottom: 1.1rem;
}

.input-box label {
    font-size: 0.9rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box input {
    width: 100%;
    margin-top: 0.6rem;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid #6c63ff;
}

.continue-button {
    width: 100%;
}

.continue-button button {
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: #9f451a;
    padding: 0.8rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
}

.continue-button button:hover {
    background-color: #9f451a;
}

.back-login {
    text-align: center;
    margin-top: 1.5rem;
}

.back-login a {
    font-size: 0.9rem;
    color: #6c63ff;
    text-decoration: none;
}

.back-login a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1330px) {
    .container {
        width: 90%;
        height: auto;
        flex-direction: column;
    }

    .form-image {
        width: 100%;
        margin-bottom: 2rem;
    }

    .form {
        width: 100%;
        padding: 2rem;
    }
}
.logo {
    margin-top: -550px;
    margin-left: -150px;
}

@media screen and (max-width: 480px) {
    .form-header h1 {
        font-size: 1.5rem;
    }

    .input-box input {
        padding: 0.7rem 1rem;
    }

    .continue-button button {
        padding: 0.7rem;
        font-size: 0.9rem;
    }

    .form {
        padding: 1rem;
    }
}
