<!-- Page Title--><!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>Adoção - Pet's Friends</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" href="../../Principal/site/css/bootstrap.css">
    <link rel="stylesheet" href="../../Principal/site/css/fonts.css">
    <link rel="stylesheet" href="../../Principal/site/css/style.css">
    <link rel="stylesheet" href="gerenciar_perfil.css">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}


    </style>
  </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
        <p>Carregando...</p>
      </div>
    </div>
    <div class="page"><a class="section section-banner d-none d-xl-block" href="https://www.templatemonster.com/intense-multipurpose-html-template.html" target="_blank" style="background-image: url(images/banner/background-04-1920x60.jpg); background-image: -webkit-image-set( url(images/banner/background-04-1920x60.jpg) 1x, url(images/banner/background-04-3840x120.jpg) 2x )"></a>
      <!-- Page Header-->
      <header class="section page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-classic rd-navbar-classic-minimal" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!-- RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!-- RD Navbar Brand-->
                  <div class="rd-navbar-brand">
                    <!--Brand--><a class="brand" href="index.html"><img class="brand-logo-dark" src="images/logo-default-392x116.png" alt="" width="196" height="58"/><img class="brand-logo-light" src="images/logo-default-392x116.png" alt="" width="196" height="58"/></a>
                  </div>
                </div>
                <div class="rd-navbar-main-element">
                  <div class="rd-navbar-nav-wrap">
                    <!-- RD Navbar Nav-->
                    <ul class="rd-navbar-nav">
                      <li class="rd-nav-item active"><a class="rd-nav-link" href="/perfil_veterinario">Gerenciar Perfil</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="/consultas_veterinario">Gerenciar Consultas</a>
                      </li>
                      <li class="rd-nav-item "><a class="rd-nav-link" href="index.html">Sair</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>   
      <div class="container">
        <h1>Gerenciar Perfil - Veterinário</h1>
        <form id="profile-form">
          <div class="form-group">
            <label for="nome">Nome Completo:</label>
            <input type="text" id="nome" name="nome" disabled>
            <button type="button" class="edit-btn" data-field="nome">Editar</button>
          </div>
          <div class="form-group">
            <label for="data-nascimento">Data de Nascimento:</label>
            <input type="date" id="data-nascimento" name="data-nascimento" disabled>
            <button type="button" class="edit-btn" data-field="data-nascimento">Editar</button>
          </div>
          <div class="form-group">
            <label for="telefone">Telefone:</label>
            <input type="text" id="telefone" name="telefone" disabled>
            <button type="button" class="edit-btn" data-field="telefone">Editar</button>
          </div>
          <div class="form-group">
            <label for="cpf">CPF:</label>
            <input type="text" id="cpf" name="cpf" disabled>
            <button type="button" class="edit-btn" data-field="cpf">Editar</button>
          </div>
          <div class="form-group">
            <label for="crmv">CRMV:</label>
            <input type="text" id="crmv" name="crmv" disabled>
            <button type="button" class="edit-btn" data-field="crmv">Editar</button>
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" disabled>
            <button type="button" class="edit-btn" data-field="email">Editar</button>
          </div>
          <div class="form-group">
            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" disabled>
            <button type="button" class="edit-btn" data-field="senha">Editar</button>
          </div>
          <div class="form-group">
            <label for="horario-trabalho">Horário de Trabalho:</label>
            <input type="time" id="horario-trabalho" name="horario-trabalho" disabled>
            <button type="button" class="edit-btn" data-field="horario-trabalho">Editar</button>
          </div>
          <div class="form-group">
            <label for="nome-clinica">Nome da Clínica:</label>
            <input type="text" id="nome-clinica" name="nome-clinica" disabled>
            <button type="button" class="edit-btn" data-field="nome-clinica">Editar</button>
          </div>
          <div class="form-group">
            <label for="endereco-clinica">Endereço da Clínica:</label>
            <input type="text" id="endereco-clinica" name="endereco-clinica" disabled>
            <button type="button" class="edit-btn" data-field="endereco-clinica">Editar</button>
          </div>
          <button type="submit" class="save-btn">Salvar Alterações</button>
          <br>
          <button type="button" class="logout-btn" onclick="location.href='../veterinario login/index.html'">Sair da Conta</button>
          <br>
          <br>
          <button type="submit" class="delete-btn">Apagar Conta</button>
        </form>
      </div>
         
          

      <!-- Outros trechos de código -->
       
    </div>

    <!-- Javascript-->
    
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="js/padrao.js"></script>
    
  </body>
</html>
