<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>Denúncia - Pet's Friends</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
     
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
        <p>Carregando...</p>
      </div>
    </div>
    <div class="page"><a class="section section-banner d-none d-xl-block" href="https://www.templatemonster.com/intense-multipurpose-html-template.html" target="_blank" style="background-image: url(images/banner/background-04-1920x60.jpg); background-image: -webkit-image-set( url(images/banner/background-04-1920x60.jpg) 1x, url(images/banner/background-04-3840x120.jpg) 2x )"></a>      <!-- Page Header-->
      <header class="section page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-classic rd-navbar-classic-minimal" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!-- RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!-- RD Navbar Brand-->
                  <div class="rd-navbar-brand">
                    <!--Brand--><a class="brand" href="/"><img class="brand-logo-dark" src="images/logo-default-392x116.png" alt="" width="196" height="58"/><img class="brand-logo-light" src="images/logo-default-392x116.png" alt="" width="196" height="58"/></a>
                  </div>
                </div>
                <div class="rd-navbar-main-element">
                  <div class="rd-navbar-nav-wrap">
                    <!-- RD Navbar Nav-->
                    <ul class="rd-navbar-nav">
                      <li class="rd-nav-item"><a class="rd-nav-link" href="/">Home</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="/AdocaoAnimais">Animais Disponíveis</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="/sobre_nos">Sobre Nós</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="/ajuda">Ajuda</a>
                      </li>
                      <li class="rd-nav-item active"><a class="rd-nav-link" href="/denunciar">Denunciar</a>
                      </li>
                      <!-- Botão Entrar -->
                      <li class="rd-nav-item"></li>
                        <img id="vinil" src="images/icone.png" alt="Vinil" onclick="toggleMenu()">
                        <a id="link-login" class="rd-nav-link" href="login">Login</a>
                        <div id="profileMenu" class="profile-menu">
                          <a href="/perfil"><i class="fas fa-user"></i> Perfil</a>
                          <a href="javascript:void(0)" onclick="logoutConta()"><i class="fas fa-door-open"></i> Sair</a>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
     
      <section class="breadcrumbs-custom">
        <div class="container">
          <ul class="breadcrumbs-custom-path">
            <li><a href="/">Casa</a></li>
            <li class="active">Denunciar</li>
          </ul>
        </div>
      </section>
      <!-- Mailform-->
      <!-- Mailform-->
<section class="section section-md">
  <div class="container">
      <div class="row row-50">
          <div class="col-lg-8">
              <h2>Realizar Denúncia</h2>
              <div class="divider-lg"></div>
              <p>Você pode entrar em contato conosco da maneira que for conveniente para você. Estamos disponíveis 24 horas por dia, 7 dias por semana, via fax ou e-mail. <br class="d-none d-lg-inline"></p>
              <!-- RD Mailform-->
              <form class="rd-mailform text-left rd-form" data-form-output="form-output-global" data-form-type="contact" action="javascript:void(0)" method="post" action="" enctype="multipart/form-data">
                  <div class="row row-30">
                    <div class="col-sm-12">
                      <div class="form-wrap">
                          <label class="form-label" for="contact-full-name">Nome Completo (Opcional)</label>
                          <input class="form-input" id="contact-full-name" type="text"   placeholder="Digite seu nome"name="full-name">
                      </div>
                    </div>
                    
                      <div class="col-sm-6">
                          <div class="form-wrap">
                              <label class="form-label" for="contact-phone">Telefone *</label>
                              <input class="form-input" id="contact-phone" type="text" name="phone"   placeholder="Digite seu telefone"data-constraints="@Numeric @Required">
                          </div>
                      </div>
                      <div class="col-sm-6">
                          <div class="form-wrap">
                              <label class="form-label" for="contact-email">E-Mail *</label>
                              <input class="form-input" id="contact-email" type="email" name="email"  placeholder="Digite seu e-mail" data-constraints="@Email @Required">
                          </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-wrap">
                            <label class="form-label" for="contact-address">Endereço da ocorrência *</label>
                            <input class="form-input" id="contact-address" type="text" name="address"  placeholder="(Rua + Bairro + Número)"data-constraints="@Required">
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-wrap">
                            <label class="form-label" for="contact-cep">CEP *</label>
                            <input class="form-input" id="contact-cep" type="text" name="cep" placeholder="Digite o CEP" data-constraints="@Required">
                        </div>
                    </div>
                      <div class="col-12">
                          <div class="form-wrap">
                              <label class="form-label" for="contact-message">Descreva a situação *</label>
                              <textarea class="form-input" id="contact-message" name="message" data-constraints="@Required"></textarea>
                          </div>
                      </div>
                      <div class="col-12">
                          <div class="form-wrap">
                            <label class="form-label" for="contact-photo">Envie uma imagem para comprovar a denúncia *</label>
                              <input class="form-input" id="contact-photo" type="file" name="photo" accept="image/*" data-constraints="@Required">
                              <img id="photo-preview" src="" alt="Prévia da Imagem" style="display: none; margin-top: 10px; max-width: 100%; height: auto;">

                            </div>
                      </div>
                  </div>
                  <div class="form-button group-sm text-left">
                      <button class="button button-primary" onclick="javascript:void(0)" type="submit">Enviar denúncia</button>
                  </div>
              </form>
          </div>
          <div class="col-lg-4">
              <ul class="contact-list">
                  <li>
                      <p class="contact-list-title">Endereço</p>
                      <div class="contact-list-content"><span class="icon mdi mdi-map-marker icon-primary"></span><a href="#">São Paulo, Tambaú, 200 Rua Bela Vista.</a></div>
                  </li>
                  <li>
                      <p class="contact-list-title">Telefone</p>
                      <div class="contact-list-content"><span class="icon mdi mdi-phone icon-primary"></span><a href="tel:#">+3673-8951</a><span>, </span><a href="tel:#">+(19) 98982-2762 </a></div>
                  </li>
                  <li>
                      <p class="contact-list-title">E-mail</p>
                      <div class="contact-list-content"><span class="icon mdi mdi-email-outline icon-primary"></span><a href="mailto:#">petsfriends@gmail.com</a></div>
                  </li>
                  <li>
                      <p class="contact-list-title">Horário de funcionamento</p>
                      <div class="contact-list-content"><span class="icon mdi mdi-clock icon-primary"></span>
                          <ul class="list-xs">
                              <li>Estamos abertos 24 horas por dia, todos os dias da semana. Nossa equipe está disponível ininterruptamente para atender emergências e prestar suporte a qualquer animal que precise de ajuda.</li>
                          </ul>
                      </div>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</section>

<section class="section parallax-container" data-parallax-img="images/fundqsn2.png">
  <div class="parallax-content section-lg context-dark text-center">
    <div class="container"> 
      <div class="row justify-content-md-center row-30"> 
        <div class="col-md-9 col-lg-6">
          <!-- RD Mailform-->
        </div>
      </div>
      <h2>ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ</h2>
    </div>
    <h2>ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ</h2>
  </div>
</section>
<!-- Page Footer-->
<footer class="section bg-default section-xs-type-1 footer-minimal">
  <div class="container">
    <div class="row row-30 align-items-lg-center justify-content-lg-between">
      <div class="col-lg-2">
        <div class="footer-brand"><img src="images/logo-dark-142x58.png" alt="" width="142" height="58"/></a></div>
      </div>
      <div class="col-lg-10">
        <div class="footer-nav">
          <ul class="rd-navbar-nav">
            <li class="rd-nav-item"><a class="rd-nav-link" href="/">Casa</a></li>
            <li class="rd-nav-item active"><a class="rd-nav-link" href="/sobre_nos">Sobre nós </a></li>
            <li class="rd-nav-item"><a class="rd-nav-link" href="/ajuda">Ajuda </a></li>
            <li class="rd-nav-item"><a class="rd-nav-link" href="/denunciar">Denunciar</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<section class="bg-gray-100 section-xs text-center">
  <div class="container">
    <p class="rights"><span>&copy;&nbsp; </span><span class="copyright-year"></span><span>&nbsp;</span><span>All Rights Reserved</span><span>.&nbsp;</span>Design&nbsp;by&nbsp;<a class="link-underline" href="https://www.templatemonster.com/">TemplateMonster</a></p>
  </div>
</section>
</div>
<!-- Global Mailform Output-->
<div class="snackbars" id="form-output-global"></div>
<!-- Javascript-->
<script src="js/core.min.js"></script>
<script src="js/script.js"></script>
<script src="js/denuncia.js"></script>
<script src="js/index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>
