
<!-- Page Title--><!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>Formulário - Pet's Friends</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:300i,400,400i,700%7CMontserrat:400,500,600,700%7CPlayfair+Display:400,700,700i%7COswald:400,700,700i">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
        <p>Carregando...</p>
      </div>
    </div>
    <div class="page"><a class="section section-banner d-none d-xl-block" href="https://www.templatemonster.com/intense-multipurpose-html-template.html" target="_blank" style="background-image: url(images/banner/background-04-1920x60.jpg); background-image: -webkit-image-set( url(images/banner/background-04-1920x60.jpg) 1x, url(images/banner/background-04-3840x120.jpg) 2x )"></a>      <!-- Page Header-->
      <header class="section page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-classic rd-navbar-classic-minimal" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!-- RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!-- RD Navbar Brand-->
                  <div class="rd-navbar-brand">
                    <!--Brand--><a class="brand" href="index.html"><img class="brand-logo-dark" src="images/logo-default-392x116.png" alt="" width="196" height="58"/><img class="brand-logo-light" src="images/logo-default-392x116.png" alt="" width="196" height="58"/></a>
                  </div>
                </div>
                <div class="rd-navbar-main-element">
                  <div class="rd-navbar-nav-wrap">
                    <!-- RD Navbar Nav-->
                    <ul class="rd-navbar-nav">
                      <li class="rd-nav-item"><a class="rd-nav-link" href="index.html">Casa</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="about.html">Sobre Nós</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="typography.html">Ajuda</a>
                      </li>
                      <li class="rd-nav-item "><a class="rd-nav-link" href="contacts.html">Denunciar</a>
                      </li>
                      
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <section class="section-page-title" style="background-image: url(images/claro2.jpeg); background-size: cover;">
        <div class="container">
          <h1 class="page-title">Formulário</h1>
        </div>
      </section>
      <section class="breadcrumbs-custom">
        <div class="container">
          <ul class="breadcrumbs-custom-path">
            <li><a href="index.html">Casa</a></li>
            <li class="active">Formulário</li>
          </ul>
        </div>
      </section>
      <!-- Mailform-->
      <!-- Mailform-->
<section class="section section-md">
  <div class="container">
      <div class="row row-50">
          <div class="col-lg-8">
              <h2>Preencha as informações</h2>
              <div class="divider-lg"></div>
              <p>Após o envio do cadastro, nossa equipe entrará em contato para continuar o processo de adoção. Agradecemos por sua iniciativa em oferecer um lar para um novo amigo! <br class="d-none d-lg-inline"></p>
              <!-- RD Mailform-->
              <form class="rd-mailform text-left rd-form" data-form-output="form-output-global" data-form-type="adoption" method="POST" action="bat/rd-mailform.php">
                <div class="row row-30">
                  <div class="col-sm-6">
                    <div class="form-wrap">
                      <label class="form-label" for="adoption-name">Nome *</label>
                      <input class="form-input" id="adoption-name" type="text" name="name" placeholder="Digite seu nome" required>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-wrap">
                      <label class="form-label" for="adoption-email">E-mail *</label>
                      <input class="form-input" id="adoption-email" type="email" name="email" placeholder="Digite seu e-mail" required>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-wrap">
                      <label class="form-label" for="adoption-rg">RG *</label>
                      <input class="form-input" id="adoption-rg" type="text" name="rg" placeholder="Digite seu RG" required>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-wrap">
                      <label class="form-label" for="adoption-phone">Telefone *</label>
                      <input class="form-input" id="adoption-phone" type="text" name="phone" placeholder="Telefone" required>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-wrap">
                      <label class="form-label" for="adoption-marital-status">Estado Civil *</label>
                      <select class="form-input" id="adoption-marital-status" name="marital-status" required>
                        <option value="">Escolha uma opção</option>
                        <option value="solteiro">Solteiro(a)</option>
                        <option value="casado">Casado(a)</option>
                        <option value="divorciado">Divorciado(a)</option>
                        <option value="viuvo">Viúvo(a)</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-wrap">
                      <label class="form-label" for="adoption-profession">Profissão *</label>
                      <input class="form-input" id="adoption-profession" type="text" name="profession" placeholder="Informe sua profissão" required>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-wrap">
                      <label class="form-label" for="adoption-zipcode">CEP *</label>
                      <input class="form-input" id="adoption-zipcode" type="text" name="zipcode" placeholder="CEP" required>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-wrap">
                      <label class="form-label" for="adoption-city">Cidade *</label>
                      <input class="form-input" id="adoption-city" type="text" name="city" placeholder="Informe sua Cidade" required>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-wrap">
                      <label class="form-label" for="adoption-state">Estado *</label>
                      <select class="form-input" id="adoption-state" name="state" required>
                        <option value="SP">São Paulo</option>
                        
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-wrap">
                      <label class="form-label" for="adoption-address">Endereço *</label>
                      <input class="form-input" id="adoption-address" type="text" name="address" placeholder="Endereço" required>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-wrap">
                      <label class="form-label" for="adoption-number">Número *</label>
                      <input class="form-input" id="adoption-number" type="text" name="number" placeholder="Número">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-wrap">
                      <label class="form-label" for="adoption-neighborhood">Bairro *</label>
                      <input class="form-input" id="adoption-neighborhood" type="text" name="neighborhood" placeholder="Bairro">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-wrap">
                      <label class="form-label" for="adoption-complement">Complemento</label>
                      <input class="form-input" id="adoption-complement" type="text" name="complement" placeholder="Complemento">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-wrap">
                      <label class="form-label" for="adoption-house">Mora em *</label>
                      <select class="form-input" id="adoption-house" name="house" required>
                        <option value="">Escolha uma opção</option>
                        <option value="casaPropria">Casa própria</option>
                        <option value="casaAlugada">Casa alugada</option>
                        <option value="apartamentoProprio">Apartamento próprio</option>
                        <option value="apartamentoAlugado">Apartamento alugado</option>
                        <option value="chacaraPropria">Chácara própria</option>
                        <option value="chacaraAlugada">Chácara alugada</option>
                        <option value="fazenda">Fazenda</option>
                        <option value="fazenda">Sítio</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-6">
                      <div class="form-wrap">
                        <label class="form-label">O local é cercado?</label>
                        <div>
                          <input type="radio" id="fenceYes" name="fence" value="sim" required>
                          <label for="fenceYes">Sim</label>
                          <input type="radio" id="fenceNo" name="fence" value="nao">
                          <label for="fenceNo">Não</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-wrap">
                        <label class="form-label">Possui filhos?</label>
                        <div>
                          <input type="radio" id="childrenYes" name="children" value="sim" required>
                          <label for="childrenYes">Sim</label>
                          <input type="radio" id="childrenNo" name="children" value="nao">
                          <label for="childrenNo">Não</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-wrap">
                        <label class="form-label">Possui outros animais?</label>
                        <div>
                          <input type="radio" id="otherAnimalsYes" name="other-animals" value="sim" required>
                          <label for="otherAnimalsYes">Sim</label>
                          <input type="radio" id="otherAnimalsNo" name="other-animals" value="nao">
                          <label for="otherAnimalsNo">Não</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                </div>
                <div class="form-button group-sm text-left">
                  <button class="button button-primary" type="submit">Enviar Formulário</button>
                </div>
              </form>
              
              
          </div>
          <div class="col-lg-4">
              <ul class="contact-list">
                  <li>
                      <p class="contact-list-title">Endereço</p>
                      <div class="contact-list-content"><span class="icon mdi mdi-map-marker icon-primary"></span><a href="#">São Paulo, Tambaú, 200 Rua Bela Vista.</a></div>
                  </li>
                  <li>
                      <p class="contact-list-title">Telefone</p>
                      <div class="contact-list-content"><span class="icon mdi mdi-phone icon-primary"></span><a href="tel:#">+3673-8951</a><span>, </span><a href="tel:#">+(19) 98982-2762 </a></div>
                  </li>
                  <li>
                      <p class="contact-list-title">E-mail</p>
                      <div class="contact-list-content"><span class="icon mdi mdi-email-outline icon-primary"></span><a href="mailto:#">petsfriends@gmail.com</a></div>
                  </li>
                  <li>
                      <p class="contact-list-title">Horário de funcionamento</p>
                      <div class="contact-list-content"><span class="icon mdi mdi-clock icon-primary"></span>
                          <ul class="list-xs">
                              <li>Estamos abertos 24 horas por dia, todos os dias da semana. Nossa equipe está disponível ininterruptamente para atender emergências e prestar suporte a qualquer animal que precise de ajuda.</li>
                          </ul>
                      </div>
                  </li>
                  <div class="col-12">
                    <div class="form-wrap">
                      <label class="form-label" for="adoption-motivation">O que motiva sua adoção? *</label>
                      <textarea class="form-input" id="adoption-motivation" name="motivation"  placeholder="Escreva aqui" required></textarea>
                    </div>
                  </div>
              </ul>
              <br>
              <div class="col-sm-12">
                <div class="form-wrap">
                  <label class="form-label" for="adoption-income">Renda Mensal *</label>
                  <select class="form-input" id="adoption-income" name="income" required>
                    <option value="">Escolha uma opção</option>
                    <option value="menorQue1000">Menor que R$ 1.000</option>
                    <option value="1000a3000">De R$ 1.000 a R$ 3.000</option>
                    <option value="3000a5000">De R$ 3.000 a R$ 5.000</option>
                    <option value="5000a10000">De R$ 5.000 a R$ 10.000</option>
                    <option value="maiorQue10000">Maior que R$ 10.000</option>
                  </select>
                </div>
              </div>
              <br>
              <div class="col-12">
                <div class="form-wrap">
                  <label class="form-label" for="adoption-social-link">Link para perfil de Facebook ou Instagram</label>
                  <input class="form-input" id="adoption-social-link" type="url" name="social-link">
                </div>
              </div>
              <br>
              <div class="col-sm-12">
                <div class="form-wrap">
                  <label class="form-label" for="adoption-document">Anexe o comprovante de residência *</label>
                  <input class="form-input" id="adoption-document" type="file" name="document" accept=".pdf,.jpg,.png" required>
                </div>
              </div>
              
              
          </div>

      </div>
  </div>
</section>

<section class="section parallax-container" data-parallax-img="images/fundqsn2.png">
  <div class="parallax-content section-lg context-dark text-center">
    <div class="container"> 
      <div class="row justify-content-md-center row-30"> 
        <div class="col-md-9 col-lg-6">
          <!-- RD Mailform-->
        </div>
      </div>
      <h2>ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ</h2>
    </div>
    <h2>ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ</h2>
  </div>
</section>
<!-- Page Footer-->
<footer class="section bg-default section-xs-type-1 footer-minimal">
  <div class="container">
    <div class="row row-30 align-items-lg-center justify-content-lg-between">
      <div class="col-lg-2">
        <div class="footer-brand"><img src="images/logo-dark-142x58.png" alt="" width="142" height="58"/></a></div>
      </div>
      <div class="col-lg-10">
        <div class="footer-nav">
          <ul class="rd-navbar-nav">
            <li class="rd-nav-item"><a class="rd-nav-link" href="index.html">Casa</a></li>
            <li class="rd-nav-item "><a class="rd-nav-link" href="about.html">Sobre nós </a></li>
            <li class="rd-nav-item"><a class="rd-nav-link" href="typography.html">Ajuda </a></li>
            <li class="rd-nav-item"><a class="rd-nav-link" href="contacts.html">Denunciar</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<section class="bg-gray-100 section-xs text-center">
  <div class="container">
    <p class="rights"><span>&copy;&nbsp; </span><span class="copyright-year"></span><span>&nbsp;</span><span>All Rights Reserved</span><span>.&nbsp;</span>Design&nbsp;by&nbsp;<a class="link-underline" href="https://www.templatemonster.com/">TemplateMonster</a></p>
  </div>
</section>
</div>
<!-- Global Mailform Output-->
<div class="snackbars" id="form-output-global"></div>
<!-- Javascript-->
<script src="js/core.min.js"></script>
<script src="js/script.js"></script>
</body>
</html>
