<!-- Page Title--><!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>Pet's Friends</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
     
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/fonts.css">
    <link rel="stylesheet" href="./css/style.css">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
        <p>Carregando...</p>
      </div>
    </div>
    <div class="page">
      <!-- Page Header-->
      <header class="section page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-classic rd-navbar-classic-minimal" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!-- RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!-- RD Navbar Brand-->
                  <div class="rd-navbar-brand">
                    <!--Brand--><a class="brand" href="/"><img class="brand-logo-dark" src="images/logo-default-392x116.png" alt="" width="196" height="58"/><img class="brand-logo-light" src="images/logo-default-392x116.png" alt="" width="196" height="58"/></a>
                  </div>
                </div>
                <div class="rd-navbar-main-element">
                  <div class="rd-navbar-nav-wrap">
                    <!-- RD Navbar Nav-->
                    <ul class="rd-navbar-nav">
                      <li class="rd-nav-item active"><a class="rd-nav-link" href="/">Home</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="/AdocaoAnimais">Animais Disponíveis</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="/sobre_nos">Sobre nós</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="/ajuda">Ajuda</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="/denunciar">Denunciar</a>
                      </li>
                      <!-- Botão Entrar -->
                      <li class="rd-nav-item"></li>
                        <img id="vinil" src="images/icone.png" alt="Vinil" onclick="toggleMenu()">
                        <a id="link-login" class="rd-nav-link" href="login">Login</a>
                        <div id="profileMenu" class="profile-menu">
                          <a href="/perfil"><i class="fas fa-user"></i> Perfil</a>
                          <a href="javascript:void(0)" onclick="logoutConta()"><i class="fas fa-door-open"></i> Sair</a>
                        </div>
                      </li>

                    </ul>
                  </div>
                </div>
                
                
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- Swiper-->
      <section class="section swiper-container swiper-slider swiper-slider-1" data-loop="false" data-autoplay="5500" data-simulate-touch="false" data-slide-effect="fade">
        <div class="swiper-wrapper">
          <div class="swiper-slide" data-slide-bg="images/slide-1-1920x720.jpg">
            <div class="swiper-slide-caption section-md">
              <div class="container">
                <div class="row">
                  <div class="col-sm-10 col-lg-8 col-xl-7">
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide" data-slide-bg="images/slide-2-1920x720.jpg">
            <div class="swiper-slide-caption section-md">
              <div class="container">
                <div class="row">
                  <div class="col-md-10 col-lg-8 col-xl-7">
                    
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide" data-slide-bg="images/slide-3-1920x720.jpg">
            <div class="swiper-slide-caption section-md">
              <div class="container">
                <div class="row">
                  <div class="col-md-10 col-lg-8 col-xl-7">
                   
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Swiper Pagination -->
        <div class="swiper-pagination"></div>
        <div class="swiper-counter"></div>
        <!-- Swiper Navigation-->
        <div class="swiper-button-prev">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="17px" height="30px" viewbox="0 0 17 30" enable-background="new 0 0 17 30" xml:space="preserve">
            <g>
              <defs>
                <rect id="SVGID_111_" width="17" height="30"></rect>
              </defs>
              <clippath id="SVGID_2222_">
                <use xlink:href="#SVGID_111_" overflow="visible"></use>
              </clippath>
              <line clip-path="url(#SVGID_2222_)" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="8.5" y1="0.833" x2="8.5" y2="29.167"></line>
              <polyline clip-path="url(#SVGID_2222_)" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="									    16.15,20.833 8.5,29.167 0.85,20.833 	"></polyline>
            </g>
          </svg>
        </div>
        <div class="swiper-button-next">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="17px" height="30px" viewbox="0 0 17 30" enable-background="new 0 0 17 30" xml:space="preserve">
            <g>
              <defs>
                <rect id="SVGID_1_" width="17" height="30"></rect>
              </defs>
              <clippath id="SVGID_2_">
                <use xlink:href="#SVGID_1_" overflow="visible"></use>
              </clippath>
              <line clip-path="url(#SVGID_2_)" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="8.5" y1="29.167" x2="8.5" y2="0.833"></line>
              <polyline clip-path="url(#SVGID_2_)" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="									    0.85,9.167 8.5,0.833 16.15,9.167 	"></polyline>
            </g>
          </svg>
        </div>
      </section>
      <section class="section section-lg bg-gray-100">
        <div class="container">
          
          <div class="row row-50 align-items-lg-center justify-content-xl-between">
            <div class="col-lg-6">
              <div class="box-images">
                <div class="box-images-item box-images-1" data-parallax-scroll="{&quot;y&quot;: 20, &quot;x&quot;: 30,  &quot;smoothness&quot;: 30 }"><img src="images/home-1-1-282x282.jpg" alt="" width="282" height="282"/>
                </div>
                <div class="box-images-item box-images-2" data-parallax-scroll="{&quot;y&quot;: 20,  &quot;smoothness&quot;: 30 }"><img src="images/home-1-2-240x369.jpg" alt="" width="240" height="369"/>
                </div>
                <div class="box-images-item box-images-3" data-parallax-scroll="{&quot;y&quot;: 20, &quot;x&quot;: -30, &quot;smoothness&quot;: 30 }"><img src="images/home-1-3-259x369.jpg" alt="" width="259" height="369"/>
                </div>
                <div class="box-images-item box-images-4" data-parallax-scroll="{&quot;y&quot;: -20,  &quot;smoothness&quot;: 30 }"><img src="images/home-1-4-266x266.jpg" alt="" width="266" height="266"/>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-xl-5">
              <h2 class="heading-decorate">A Importância de  <br><span class="divider"></span>Adotar
              </h2>
              <p class="big text-gray-800">Segundo a Organização Mundial da Saúde (OMS), existem cerca de 30 milhões de animais abandonados nas ruas do Brasil, sendo 20 milhões cachorros.</p>
              <p class="text-spacing-60">Esses animais sofrem todo dia com o abandono, doenças físicas e mentais, fome e maus-tratos, sem ter voz para se defender eles dependem de iniciativas governamentais e ongs que trabalham com o resgate, cuidado e adoção.</p>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-lg bg-default text-center">
        <div class="container">
          <h2>Nossos Serviços</h2>
          <div class="divider-lg"></div>
          
          <div class="row icon-modern-list no-gutters" style="margin-left: 15%;">
            
            <div class="col-sm-6 col-lg-4">
              <article class="box-icon-modern modern-variant-2">
                <div class="icon-modern">
                  <img  src="images/2.png" alt="Vinil ">
                </div>
                <h4 class="box-icon-modern-title"><a href="/AdocaoAnimais">Perfil Detalhado dos Cães</a></h4>
                <div class="divider"></div>
                <p>Informações sobre a personalidade, histórico de saúde, e necessidades especiais de cada cachorro disponível para adoção.</p>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4">
              <article class="box-icon-modern modern-variant-2">
                <div class="icon-modern">
                  <img  src="images/3.png" alt="Vinil ">
                </div>
                <h4 class="box-icon-modern-title"><a href="/agendar_consulta">Agendar Consultas</a></h4>
                <div class="divider"></div>
                <p>Oferecemos agendamento fácil e rápido para consultas veterinárias, garantindo o melhor cuidado para seu pet.</p>
              </article>
            </div>
            
            <div class="col-sm-6 col-lg-4">
              <article class="box-icon-modern modern-variant-2">
                <div class="icon-modern">
                  <img src="images/5.png" alt="Vinil ">
                </div>
                <h4 class="box-icon-modern-title"><a href="/lista_veterinarios">Lista de Veterinários</a></h4>
                <div class="divider"></div>
                <p>Encontre uma lista de veterinários próximos para cuidados especializados, com informações de contato e áreas de especialização.</p>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4">
              <article class="box-icon-modern modern-variant-2">
                <div class="icon-modern">
                  <img  src="images/6.png" alt="Vinil ">
                </div>
                <h4 class="box-icon-modern-title"><a href="/denunciar">Realizar Denúncias</a></h4>
                <div class="divider"></div>
                <p>Permite que visitantes denunciem casos de abandono ou maus-tratos, com a opção de enviar descrições detalhadas e evidências (fotos, vídeos).</p>
              </article>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-lg bg-gray-100">
        <div class="container">
          <div class="row row-50">
            <div class="col-lg-6">
              <div class="row row-50">
                <div class="col-md-6 col-lg-12">
                  <h2 class="heading-decorate"><span class="divider"></span>Importância da Castração</h2>
                    <p>A superpopulação de animais de estimação e o despejo de ninhadas indesejadas de cachorros é um efeito colateral muito comum da posse irresponsável de animais de estimação. Assim, todos os anos, milhares de cachorros indesejados e cães mais velhos são jogados na rua ou entregues aos abrigos. Muitos desses animais nunca são adotados e acabam sendo sacrificados. Mas este triste desperdício de vida saudável pode ser reduzido através da castração de cachorros.</p>
                </div>
                <div class="col-md-6 col-lg-12">
                  <div class="quote-with-image">
                    <figure class="quote-img"><img src="images/home-1-7-534x406.jpg" alt="" width="534" height="406"/>
                    </figure>
                    <div class="quote-caption">
                      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="88.34px" height="65.34px" viewBox="0 0 88.34 65.34" enable-background="new 0 0 88.34 65.34" overflow="scroll" xml:space="preserve" preserveAspectRatio="none">
                        <path d="M49.394,65.34v-4.131c12.318-7.088,19.924-16.074,22.811-26.965c-3.125,2.032-5.968,3.051-8.526,3.051																	c-4.265,0-7.864-1.721-10.803-5.168c-2.937-3.444-4.407-7.654-4.407-12.64c0-5.511,1.932-10.142,5.791-13.878																	C58.123,1.873,62.873,0,68.51,0c5.639,0,10.354,2.379,14.143,7.137c3.793,4.757,5.688,10.678,5.688,17.758																	c0,9.977-3.814,18.912-11.443,26.818C69.268,59.613,60.101,64.156,49.394,65.34z M0.923,65.34v-4.131																	c12.321-7.088,19.926-16.074,22.813-26.965c-3.126,2.032-5.993,3.051-8.598,3.051c-4.219,0-7.794-1.721-10.734-5.168																	C1.467,28.683,0,24.473,0,19.487C0,13.976,1.919,9.346,5.757,5.609C9.595,1.873,14.334,0,19.971,0																	c5.685,0,10.41,2.379,14.178,7.137c3.767,4.757,5.652,10.678,5.652,17.758c0,9.977-3.805,18.912-11.409,26.818																	C20.787,59.613,11.632,64.156,0.923,65.34z"></path>
                      </svg>
                      <br>
                      <br>
                      <br>
                      <br>
                      <h3 class="quote-text">Investir na castração do seu cachorro é investir na saúde dele e no bem-estar de todos os animais ao seu redor!</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="row row-50">
                <div class="col-md-6 col-lg-12">
                  <figure class="block-image"><img src="images/home-1-8-541x369.jpg" alt="" width="541" height="369"/>
                  </figure>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <p>Embora não elimine completamente o risco, a castração pode reduzir em até 95% a chance de o pet desenvolver certos tipos de doenças ligadas, principalmente, às estruturas e aos hormônios sexuais, como câncer de mama, útero, testículo e próstata, além de piometra (infecção bacteriana do útero). Soma-se a isso o fato de a cadela ficar livre do risco da gravidez indesejada e das possíveis complicações dela decorrentes. </p>
                </div>
                <div class="video-container">
                  <iframe width="541" height="369" src="https://www.youtube.com/embed/NG2CeRaxZgA?si=E1f5rcoRamcsujiX"
                  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                  </iframe>
              </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Page Footer-->
      <footer class="section bg-default section-xs-type-1 footer-minimal">
        <div class="container">
          <div class="row row-30 align-items-lg-center justify-content-lg-between">
            <div class="col-lg-2">
              <div class="footer-brand"><a href="/"><img class="brand-logo-dark" src="images/logo-default-392x116.png" alt="" width="100" height="10"/></a></div>
            </div>
            <div class="col-lg-10">
              <div class="footer-nav">
                <ul class="rd-navbar-nav">
                  <li class="rd-nav-item active"><a class="rd-nav-link" href="/">Home</a></li>
                  <li class="rd-nav-item"><a class="rd-nav-link" href="/sobre_nos">Sobre nós</a></li>
                  <li class="rd-nav-item"><a class="rd-nav-link" href="/ajuda">Ajuda</a></li>
                  <li class="rd-nav-item"><a class="rd-nav-link" href="/denunciar">Denunciar</a></li>
                  <li class="rd-nav-item"><a class="rd-nav-link" href="/LoginAdm">Login Adm</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <section class="bg-gray-100 section-xs text-center">
        <div class="container">
          <p class="rights"><span>&copy;&nbsp; </span><span class="copyright-year"></span><span>&nbsp;</span><span>All Rights Reserved</span><span>.&nbsp;</span>Design&nbsp;by&nbsp;<a class="link-underline" href="https://www.templatemonster.com/">Pet´s friends</a></p>
        </div>
      </section>
    </div>
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
    <script src="js/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- coded by houdini-->
     
  </body>
</html>