<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <title>Login - Pet's Friends</title>
    <link rel="stylesheet" href="css/login.css">
    <img class="logo" src="images/logo-default-392x116.png" alt="Imagem do Header">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="form-image">
            <img src="images/login.jpg" alt="Imagem de Login">
        </div>
        <div class="form">
            <form action="javascript:void(0)" method="POST">
                <div class="form-header">
                    <div class="title">
                        <h1>Login</h1>
                    </div>
                    <p>Não tem uma conta? <a href="register.html">Cadastre-se aqui</a>.</p>
                </div>
                <div class="input-group">
                    <div class="input-box">
                        <label for="email">E-mail</label>
                        <input id="email" type="email" name="email" placeholder="Digite seu e-mail" required>
                    </div>
                    <div class="input-box">
                        <label for="password">Senha</label>
                        <input id="password" type="password" name="password" placeholder="Digite sua senha" required>
                    </div>
                    <div class="forgot-password">
                        <a href="forgot-password.html">Esqueci minha senha</a>
                    </div>
                </div>
                <div class="continue-button">
                    <button type="submit">Entrar</button>
                </div>
            </form>
        </div>
    </div>
    <script src="js/login.js"></script>
</body>
</html>
